/* 폰트 */
@font-face {
  font-family:'ptd_R';
  src: url('../font/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'ptd_L';
  src: url('../font/Pretendard-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'ptd_M';
  src: url('../font/Pretendard-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'ptd_B';
  src: url('../font/Pretendard-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'ptd_Bk';
  src: url('../font/Pretendard-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------------------------------------------------ */
/* 마우스 드래그 */
/* 바이키즈 */
.bykids::-moz-selection {
  background-color: #7650AA;
  color: #FFF;
}
.bykids::selection {
  background-color: #7650AA;
  color: #FFF;
}
/* 로보영어 학습 */
.roboStudy::-moz-selection {
  background-color: #355FAE;
  color: #FFF;
}
.roboStudy::selection {
  background-color: #355FAE;
  color: #FFF;
}
/* 로보영어 레벨테스트 평가지 */
.roboEvaluation::-moz-selection {
  background-color: #567AE7;
  color: #FFF;
}
.roboEvaluation::selection {
  background-color: #567AE7;
  color: #FFF;
}
/* 로보영어 홈페이지 */
.roboHome::-moz-selection {
  background-color: #FFBF13;
  color: #FFF;
}
.roboHome::selection {
  background-color: #FFBF13;
  color: #FFF;
}
/* 코코아 */
.cocoa::-moz-selection {
  background-color: #FFC300;
  color: #FFF;
}
.cocoa::selection {
  background-color: #FFC300;
  color: #FFF;
}
/* 코코아 AI */
.cocoaAi::-moz-selection {
  background-color: #FEAD46;
  color: #FFF;
}
.cocoaAi::selection {
  background-color: #FEAD46;
  color: #FFF;
}
/* 타임즈리딩 */
.timesreading::-moz-selection {
  background-color: #5B59D0;
  color: #FFF;
}
.timesreading::selection {
  background-color: #5B59D0;
  color: #FFF;
}
/* 엘포트 */
.lport::-moz-selection {
  background-color: #05A2E6;
  color: #FFF;
}
.lport::selection {
  background-color: #05A2E6;
  color: #FFF;
}
/* Hello AI 영어 작문 능력 시험 */
.helloAiWritingProficiency::-moz-selection {
  background-color: #45B5A9;
  color: #FFF;
}
.helloAiWritingProficiency::selection {
  background-color: #45B5A9;
  color: #FFF;
}
/* Hello AI e북 학습 프로그램 */
.helloAiEbook::-moz-selection {
  background-color: #E1673C;
  color: #FFF;
}
.helloAiEbook::selection {
  background-color: #E1673C;
  color: #FFF;
}
/* Hello AI 스피킹 */
.helloAiSpeaking::-moz-selection {
  background-color: #E3683D;
  color: #FFF;
}
.helloAiSpeaking::selection {
  background-color: #E3683D;
  color: #FFF;
}
/* 학원줌 */
.hwZoom::-moz-selection {
  background-color: #FFCC00;
  color: #FFF;
}
.hwZoom::selection {
  background-color: #FFCC00;
  color: #FFF;
}
/* 퍼스트위클리 */
.firstWeekly::-moz-selection {
  background-color: #455EA1;
  color: #FFF;
}
.firstWeekly::selection {
  background-color: #455EA1;
  color: #FFF;
}
/* 퍼스트타임즈줌 */
.firstTimesZoom::-moz-selection {
  background-color: #067162;
  color: #FFF;
}
.firstTimesZoom::selection {
  background-color: #067162;
  color: #FFF;
}
/* 비콘 */
.vicon::-moz-selection {
  background-color: #EF71AD;
  color: #FFF;
}
.vicon::selection {
  background-color: #EF71AD;
  color: #FFF;
}
/* 이에스리조트클럽 홈페이지 */
.esresortclubHome::-moz-selection {
  background-color: #258646;
  color: #FFF;
}
.esresortclubHome::selection {
  background-color: #258646;
  color: #FFF;
}

/* ------------------------------------------------------------------------------------ */
/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
li, ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: #000;
	transition: all .5s;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, button, textarea, select {
  outline: none;
}
select {
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
}
button {
	background-color: unset;
	border: unset;
	color: #000;
	cursor: pointer;
	transition: all .5s;
}
img {
	transition: all .5s;
}
p {
	word-break: keep-all;
}
html {
  width: 100%;
  height: 100%;
  font-family: 'ptd_M';
	font-size: 16px;
	word-break: keep-all;
}
body {
  width: 100%;
}

/* ------------------------------------ */
/* [공통] */
.title {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	margin-bottom: 2rem;
}
.title .logo {
  width: 8rem;
}
.title .logo.v2 {
  width: 4rem;
}
.title .txt {
	box-sizing: border-box;
	font-family: 'ptd_B';
	font-size: 1.8rem;
	color: #4B4B4B;
}
.page {
	font-family: 'ptd_B';
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
.event {
	width: fit-content;
	box-sizing: border-box;
	background-color: #000;
	border-radius: 5px;
	font-size: 1.3rem;
	color: #FFF;
	padding: 0.5rem 1rem;
	margin-bottom: 1.5rem;
}
/* 바이키즈 */
#bykids .event {
	background-color: #7650AA;
}
/* 로보영어 학습 */
#roboStudy .event {
	background-color: #355FAE;
}
/* 로보영어 레벨테스트 평가지 */
#roboEvaluation .event {
	background-color: #567AE7;
}
/* 로보영어 홈페이지 */
#roboHome .event { 
  background-color: #FFBF13;
}
/* 코코아 */
#cocoa .event { 
  background-color: #FFC300;
}
/* 코코아 AI */
#cocoaAi .event { 
  background-color: #FEAD46;
}
/* 타임즈리딩 */
#timesreading .event { 
  background-color: #5B59D0;
}
/* 엘포트 */
#lport .event { 
  background-color: #05A2E6;
}
/* Hello AI 영어 작문 능력 시험 */
#helloAiWritingProficiency .event { 
  background-color: #45B5A9;
}
/* Hello AI e북 학습 프로그램 */
#helloAiEbook .event { 
  background-color: #E1673C;
}
/* Hello AI 스피킹 */
#helloAiSpeaking .event { 
  background-color: #E3683D;
}
/* 학원줌 */
#hwZoom .event { 
  background-color: #FFCC00;
}
/* 퍼스트위클리 */
#firstWeekly .event { 
  background-color: #455EA1;
}
/* 퍼스트타임즈줌 */
#firstTimesZoom .event { 
  background-color: #067162;
}
/* 비콘 */
#vicon .event { 
  background-color: #EF71AD;
}
/* 이에스리조트클럽 홈페이지 */
#esresortclubHome .event { 
  background-color: #258646;
}
/* --- */
.comment {
	font-family: 'ptd_R';
	font-size: 1rem;
	color: #E32741;
}
.video_con {
	display: flex;
	column-gap: 3rem;
}
.video_con .wrap {
	display: flex;
	flex-direction: column;
  align-items: center;
	row-gap: 0.5rem;
}
.video_con .wrap .vs {
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #000;
	border-radius: 5px;
	font-family: 'ptd_R';
	font-size: 1.3rem;
	text-align: center;
	padding: 0.3rem 0.5rem;
}
/* 바이키즈 */
#bykids .video_con .wrap .vs {
	border: 1px solid #7650AA;
	color: #7650AA;
}
/* --- */
.video_con .wrap .video {
	max-width: 100%;
	border: 5px solid #FFF;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.video_con .wrap .video.v1 {
	width: 42rem;
}
.video_con .wrap .video.v2 {
  width: 34rem;
}
.video_con .wrap .video.v3 {
  width: 18rem;
}
.page_con {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.5%;
	row-gap: 1.5rem;
	padding: 2px;
}
.page_con .wrap {
	width: 18.8%;
	box-sizing: border-box;
	position: relative;
  background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.page_con .wrap.v2 {
	width: 32.3%;
}
.page_con .wrap.v3 {
	width: 23.875%;
}
.page_con .wrap .link {
	width: 100%;
  min-height: 9rem;
	box-sizing: border-box;
	display: flex;
  position: relative;
	border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 5px -5px #C6C6C6;
	overflow: hidden;
}
.page_con .wrap.v3 .link {
	min-height: 12rem;
}
.page_con .wrap .link .img {
	width: 100%;
	object-fit: cover;
}
.page_con .wrap .link .hover {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 1.1rem;
	color: #FFF;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}
.page_con .wrap .txts {
	box-sizing: border-box;
	border-radius: 0 0 10px 10px;
	padding: 1rem;
  margin-bottom: 3rem;
}
.page_con .wrap .txts .explain {
	display: flex;
	flex-direction: column;
	row-gap: 0.2rem;
}
.page_con .wrap .txts .explain .in {
	display: flex;
  flex-wrap: wrap;
}
.page_con .wrap .txts .txt1 {
	font-family: 'ptd_B';
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
/* 로보영어 학습 */
#roboStudy .page_con .wrap .txts .txt1 {
  color: #355FAE;
}
/* 로보영어 레벨테스트 평가지 */
#roboEvaluation .page_con .wrap .txts .txt1 {
  color: #567AE7;
}
/* 로보영어 홈페이지 */
#roboHome .page_con .wrap .txts .txt1 {
  color: #FFBF13;
}
/* 코코아 */
#cocoa .page_con .wrap .txts .txt1 {
  color: #FFC300;
}
/* 코코아 AI */
#cocoaAi .page_con .wrap .txts .txt1 {
  color: #FEAD46;
}
/* 타임즈리딩 */
#timesreading .page_con .wrap .txts .txt1 {
  color: #5B59D0;
}
/* 엘포트 */
#lport .page_con .wrap .txts .txt1 {
  color: #05A2E6;
}
/* Hello AI 영어 작문 능력 시험 */
#helloAiWritingProficiency .page_con .wrap .txts .txt1 {
  color: #45B5A9;
}
/* Hello AI e북 학습 프로그램 */
#helloAiEbook .page_con .wrap .txts .txt1 {
  color: #E1673C;
}
/* Hello AI 스피킹 */
#helloAiSpeaking .page_con .wrap .txts .txt1 {
  color: #E3683D;
}
/* 학원줌 */
#hwZoom .page_con .wrap .txts .txt1 {
  color: #FFCC00;
}
/* 퍼스트위클리 */
#firstWeekly .page_con .wrap .txts .txt1 {
  color: #455EA1;
}
/* 퍼스트타임즈줌 */
#firstTimesZoom .page_con .wrap .txts .txt1 {
  color: #067162;
}
/* 비콘 */
#vicon .page_con .wrap .txts .txt1 {
  color: #EF71AD;
}
/* 이에스리조트클럽 홈페이지 */
#esresortclubHome .page_con .wrap .txts .txt1 {
  color: #258646;
}
/* --- */
.page_con .wrap .txts .txt2 {
	font-size: 1rem;
}
.page_con .wrap .txts .txt3 {
	font-size: 1rem;
	color: #4B4B4B;
}
.page_con .wrap .address {
	width: fit-content;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	font-size: 1rem;
	padding: 0.4rem 0.8rem;
	margin-left: auto;
}
/* 로보영어 홈페이지 */
#roboHome .page_con .wrap .address {
	background-color: #FFE295;
}
/* 엘포트 */
#lport .page_con .wrap .address {
	background-color: #B7E5F8;
}
/* 학원줌 */
#hwZoom .page_con .wrap .address {
	background-color: #FAE181;
}
/* 퍼스트위클리 */
#firstWeekly .page_con .wrap .address {
	background-color: #C9D4F0;
}
/* 퍼스트타임즈줌 */
#firstTimesZoom .page_con .wrap .address {
	background-color: #C7E7E3;
}
/* --- */
.image_con {
	display: flex;
	column-gap: 3%;
}
.image_con .wrap {
	display: flex;
	flex-direction: column;
  align-items: center;
	row-gap: 0.5rem;
}
.image_con .wrap .vs {
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	font-family: 'ptd_R';
	font-size: 1.3rem;
	text-align: center;
	padding: 0.3rem 0.5rem;
}
/* 비콘 */
#vicon .image_con .wrap .vs {
	border: 1px solid #CA166D;
	color: #CA166D;
}
/* --- */
.image_con .wrap.v1 {
	width: 44%;
}
.image_con .wrap.v2 {
	width: 32%;
}
.image_con .wrap.v3 {
	width: 18%;
}
.image_con .wrap .img {
	width: 100%;
	box-sizing: border-box;
	border: 5px solid #FFF;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* ------------------------------------ */
/* [공통] swiper */
.swiper .top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
  column-gap: 1rem;
	row-gap: 0.2rem;
	margin-bottom: 0.5rem;
}
.swiper .function {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	column-gap: 0.8rem;
}
.swiper .pagination {
	text-align: right;
}
.swiper .pagination span {
	color: #4B4B4B;
}
.swiper .swiperbtn {
	display: flex;
	column-gap: 0.5rem;
}
.swiper .swiperbtn .s_btn {
	width: 3rem;
	height: 3rem;
	display: unset;
	position: unset;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	color: unset;
	margin: unset;
	transition: all .5s;
}
.swiper .swiperbtn .s_btn:after {
  content: unset;
}
/* 로보영어 학습 */
#roboStudy .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/robo_study/btn_prev.svg');
}
#roboStudy .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/robo_study/btn_next.svg');
}
/* 로보영어 레벨테스트 평가지 */
#roboEvaluation .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/robo_evaluation/btn_prev.svg');
}
#roboEvaluation .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/robo_evaluation/btn_next.svg');
}
/* 로보영어 홈페이지 */
#roboHome .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/robo_home/btn_prev.svg');
}
#roboHome .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/robo_home/btn_next.svg');
}
/* 코코아 */
#cocoa .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/cocoa/btn_prev.svg');
}
#cocoa .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/cocoa/btn_next.svg');
}
/* 코코아 AI */
#cocoaAi .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/cocoa_ai/btn_prev.svg');
}
#cocoaAi .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/cocoa_ai/btn_next.svg');
}
/* 타임즈리딩 */
#timesreading .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/timesreading/btn_prev.svg');
}
#timesreading .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/timesreading/btn_next.svg');
}
/* 엘포트 */
#lport .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/lport/btn_prev.svg');
}
#lport .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/lport/btn_next.svg');
}
/* Hello AI 영어 작문 능력 시험 */
#helloAiWritingProficiency .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/helloai_writingproficiency/btn_prev.svg');
}
#helloAiWritingProficiency .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/helloai_writingproficiency/btn_next.svg');
}
/* Hello AI e북 학습 프로그램 */
#helloAiEbook .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/helloai_ebook/btn_prev.svg');
}
#helloAiEbook .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/helloai_ebook/btn_next.svg');
}
/* Hello AI 스피킹 */
#helloAiSpeaking .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/helloai_speaking/btn_prev.svg');
}
#helloAiSpeaking .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/helloai_speaking/btn_next.svg');
}
/* 학원줌 */
#hwZoom .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/hwzoom/btn_prev.svg');
}
#hwZoom .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/hwzoom/btn_next.svg');
}
/* 퍼스트위클리 */
#firstWeekly .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/firstweekly/btn_prev.svg');
}
#firstWeekly .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/firstweekly/btn_next.svg');
}
/* 퍼스트타임즈줌 */
#firstTimesZoom .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/firsttimeszoom/btn_prev.svg');
}
#firstTimesZoom .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/firsttimeszoom/btn_next.svg');
}
/* 비콘 */
#vicon .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/vicon/btn_prev.svg');
}
#vicon .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/vicon/btn_next.svg');
}
/* 이에스리조트클럽 홈페이지 */
#esresortclubHome .swiper .swiperbtn .swiper-button-prev {
  background-image: url('../img/esresortclub_home/btn_prev.svg');
}
#esresortclubHome .swiper .swiperbtn .swiper-button-next {
  background-image: url('../img/esresortclub_home/btn_next.svg');
}

/* ------------------------------------ */
/* [공통] bykids 폴더 */
#bykids {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #FAF6FF;
	padding: 3rem;
}
#bykids .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] roboStudy 폴더 */
#roboStudy {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #EBF2FF;
	padding: 3rem;
}
#roboStudy .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] roboEvaluation 폴더 */
#roboEvaluation {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #EDF1FF;
	padding: 3rem;
}
#roboEvaluation .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] roboHome 폴더 */
#roboHome {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFFAE7;
	padding: 3rem;
}
#roboHome .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] cocoa 폴더 */
#cocoa {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFFCEE;
	padding: 3rem;
}
#cocoa .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] cocoaAi 폴더 */
#cocoaAi {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFF9F1;
	padding: 3rem;
}
#cocoaAi .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] timesreading 폴더 */
#timesreading {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F4F4FF;
	padding: 3rem;
}
#timesreading .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] lport 폴더 */
#lport {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F2FBFF;
	padding: 3rem;
}
#lport .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] helloAiWritingProficiency 폴더 */
#helloAiWritingProficiency {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F5FFFE;
	padding: 3rem;
}
#helloAiWritingProficiency .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] helloAiEbook 폴더 */
#helloAiEbook {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFF8F5;
	padding: 3rem;
}
#helloAiEbook .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] helloAiSpeaking 폴더 */
#helloAiSpeaking {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFF5F1;
	padding: 3rem;
}
#helloAiSpeaking .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] hwZoom 폴더 */
#hwZoom {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFFBEB;
	padding: 3rem;
}
#hwZoom .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] firstWeekly 폴더 */
#firstWeekly {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F2F6FF;
	padding: 3rem;
}
#firstWeekly .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] firstTimesZoom 폴더 */
#firstTimesZoom {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F1FFFD;
	padding: 3rem;
}
#firstTimesZoom .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] vicon 폴더 */
#vicon {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #FFF9FC;
	padding: 3rem;
}
#vicon .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------ */
/* [공통] esreosrtclubHome 폴더 */
#esresortclubHome {
	width: 100%;
  min-height: 100vh;
	box-sizing: border-box;
	background-color: #F5FFF8;
	padding: 3rem;
}
#esresortclubHome .box {
	width: 100%;
	max-width: 1600px;
	box-sizing: border-box;
	margin: 0 auto;
}

/* ------------------------------------------------------------------------------------ */
/* 마우스 hover PC 버전만 적용 */
@media (hover: hover) {
	/* [공통] */
	/* 페이지 이미지 - 확대 */
	.page_con .wrap .link:hover .img {
		transform: scale(1.1);
	}
	/* 페이지 이미지의 hover 화면 - 보이기 */
	.page_con .wrap .link:hover .hover {
		opacity: 1;
		visibility: visible;
	}
	/* 운영 페이지 링크 버튼 - 배경 색상 변경 */
	/* 로보영어 홈페이지 */
	#roboHome .page_con .wrap .address:hover {
		background-color: #FFB900;
		color: #FFF;
	}
	/* 엘포트 */
	#lport .page_con .wrap .address:hover {
		background-color: #05A2E6;
		color: #FFF;
	}
	/* 학원줌 */
	#hwZoom .page_con .wrap .address:hover {
		background-color: #FFCC00;
		color: #FFF;
	}
	/* 퍼스트위클리 */
	#firstWeekly .page_con .wrap .address:hover {
		background-color: #455EA1;
		color: #FFF;
	}
	/* 퍼스트타임즈줌 */
	#firstTimesZoom .page_con .wrap .address:hover {
		background-color: #067162;
		color: #FFF;
	}

	/* ------------------------------------ */
	/* [공통] swiper */
	/* 로보영어 학습 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#roboStudy .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/robo_study/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#roboStudy .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/robo_study/btn_next_hover.svg');
	}
	/* 로보영어 레벨테스트 평가지 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#roboEvaluation .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/robo_evaluation/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#roboEvaluation .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/robo_evaluation/btn_next_hover.svg');
	}
	/* 로보영어 홈페이지 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#roboHome .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/robo_home/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#roboHome .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/robo_home/btn_next_hover.svg');
	}
	/* 코코아 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#cocoa .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/cocoa/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#cocoa .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/cocoa/btn_next_hover.svg');
	}
	/* 코코아 AI */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#cocoaAi .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/cocoa_ai/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#cocoaAi .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/cocoa_ai/btn_next_hover.svg');
	}
	/* 타임즈리딩 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#timesreading .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/timesreading/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#timesreading .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/timesreading/btn_next_hover.svg');
	}
	/* 엘포트 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#lport .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/lport/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#lport .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/lport/btn_next_hover.svg');
	}
	/* Hello AI 영어 작문 능력 시험 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#helloAiWritingProficiency .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/helloai_writingproficiency/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#helloAiWritingProficiency .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/helloai_writingproficiency/btn_next_hover.svg');
	}
	/* Hello AI e북 학습 프로그램 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#helloAiEbook .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/helloai_ebook/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#helloAiEbook .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/helloai_ebook/btn_next_hover.svg');
	}
	/* Hello AI 스피킹 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#helloAiSpeaking .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/helloai_speaking/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#helloAiSpeaking .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/helloai_speaking/btn_next_hover.svg');
	}
	/* 학원줌 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#hwZoom .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/hwzoom/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#hwZoom .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/hwzoom/btn_next_hover.svg');
	}
	/* 퍼스트위클리 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#firstWeekly .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/firstweekly/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#firstWeekly .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/firstweekly/btn_next_hover.svg');
	}
		/* 퍼스트타임즈줌 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#firstTimesZoom .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/firsttimeszoom/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#firstTimesZoom .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/firsttimeszoom/btn_next_hover.svg');
	}
	/* 비콘 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#vicon .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/vicon/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#vicon .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/vicon/btn_next_hover.svg');
	}
	/* 이에스리조트클럽 홈페지 */
	/* swiper 이전 버튼 - 배경 이미지 변경 */
	#esresortclubHome .swiper .swiperbtn .swiper-button-prev:hover {
		background-image: url('../img/esresortclub_home/btn_prev_hover.svg');
	}
	/* swiper 다음 버튼 - 배경 이미지 변경 */
	#esresortclubHome .swiper .swiperbtn .swiper-button-next:hover {
		background-image: url('../img/esresortclub_home/btn_next_hover.svg');
	}
}

/* ------------------------------------------------------------------------------------ */
/* 반응형 */
/* PC 기준 */
@media only screen and (max-width: 1600px) {
	/* [1600px] 초기화 */
	html {
		font-size: 15px;
	}
}
@media only screen and (max-width: 1400px) {
	/* [1400px] 초기화 */
	html {
		font-size: 14px;
	}
}
@media only screen and (max-width: 1280px) {
	/* [1280px] 초기화 */
	html {
		font-size: 13px;
	}
	
	/* ------------------------------------ */
	/* [1280px] [공통] */
	.page_con .wrap {
		width: 23.875%;
	}
	.page_con .wrap .link {
		min-height: 11rem;
	}
}
/* TABLET 기준 */
@media only screen and (max-width: 1023px) {
	/* [1023px] 초기화 */
	html {
		font-size: 12px;
	}
	
	/* ------------------------------------ */
	/* [1023px] [공통] */
	.page_con .wrap {
		width: 32.3%;
	}
	.page_con .wrap.v3 {
		width: 32.3%;
	}
	.page_con .wrap .link {
		min-height: 12rem;
	}
}
/* MOBILE 기준 */
@media only screen and (max-width: 767px) {
	/* [767px] 초기화 */
	html {
		font-size: 11px;
	}

	/* ------------------------------------ */
	/* [767px] [공통] */
	.video_con {
		flex-direction: column;
		row-gap: 2rem;
	}
	.video_con .wrap .vs {
		max-width: 100%;
	}
	.video_con .wrap .vs.v1 {
		width: 42rem;
	}
	.video_con .wrap .vs.v2 {
		width: 42rem;
	}
	.video_con .wrap .vs.v3 {
		width: 21rem;
	}
	.video_con .wrap .video {
		border: 3px solid #FFF;
		border-radius: 5px;
	}
	.video_con .wrap .video.v2 {
		width: 42rem;
	}
	.video_con .wrap .video.v3 {
		width: 21rem;
	}
	.page_con {
		column-gap: 2%;
	}
	.page_con .wrap {
		width: 49%;
	}
	.page_con .wrap.v2 {
		width: 49%;
	}
	.page_con .wrap.v3 {
		width: 49%;
	}
	.page_con .wrap .link {
		min-height: 14rem;
	}
	.page_con .wrap.v3 .link {
    min-height: 14rem;
	}
	.image_con {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2rem;
	}
	.image_con .wrap {
		max-width: 100%;
	}
	.image_con .wrap.v1 {
		width: 46rem;
	}
	.image_con .wrap.v2 {
		width: 46rem;
	}
	.image_con .wrap.v3 {
		width: 23rem;
	}
	.image_con .wrap .img {
		border: 3px solid #FFF;
		border-radius: 5px;
	}

	/* ------------------------------------ */
	/* [767px] [공통] bykids 폴더 */
	#bykids {
		padding: 2rem;
	}

	/* ------------------------------------ */
	/* [767px] [공통] roboStudy 폴더 */
	#roboStudy {
		padding: 2rem;
	}
}
@media only screen and (max-width: 600px) {
	/* [600px] [공통] */
	.page_con .wrap .link {
		min-height: 12rem;
	}
	.page_con .wrap.v3 .link {
		min-height: 12rem;
	}
}
@media only screen and (max-width: 500px) {
	/* [500px] [공통] */
	.title .logo {
		width: 6rem;
	}
	.title .logo.v2 {
		width: 3rem;
	}
	.page_con .wrap .link {
		min-height: 10rem;
	}
	.page_con .wrap.v3 .link {
		min-height: 10rem;
	}

	/* ------------------------------------ */
	/* [500px] [공통] swiper */
	.swiper .function {
  	width: 100%;
	}
}
@media only screen and (max-width: 450px) {
	/* [450px] 초기화 */
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width: 400px) {
	/* [400px] [공통] */
	.page_con .wrap .link {
		min-height: 8rem;
	}
	.page_con .wrap.v3 .link {
		min-height: 8rem;
	}
}